$about-card-bg: #252424;
$about-card-size: 300px;
$about-card-count: 5;
$about-card-padding: 20px;
$about-card-column-count: 3;
$about-container-padding: (($screen-md-min - ($about-card-size * $about-card-column-count)) / 2);

/**
 * I. about
 * II. about__container
 * III. about__container__inner
 * IV. about__card-container
 * V. about__card
 * VI. about__card__info
 */
.about {
  /**
   * Creates a scrollable container
   */
  .about__container {
    padding-top: $handle-padding;
    padding-bottom: $handle-padding;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;

    @include media($screen) {
      @include g-container;
      overflow-x: auto;
      height: auto;
      // Unfortunately, I can't think of a good non-hackish way to center
      // the children elements (which are `ul` elements)
      // inside this container element (this class), so we will have to manually
      // compute to center the content.
      //
      // Since 420px is the minimum screen size we handle, and
      // the size of each card is 300-square, we can manually compute the padding
      // to center each column (each `ul` element) inside the container restrictions.
      padding-left: $about-container-padding;
      padding-right: $about-container-padding;
    }
  }
  /**
   * Creates a long scrollable content, container for the cards
   */
  .about__container > .about__container__inner {
    @include clearfix;
    width: ($about-card-count * $about-card-size);
    height: $about-card-size;

    @include media($screen) {
      width: 100%;
      height: auto;
    }
  }

  /**
   * Container / column for a set of cards
   * This is a UL element
   */
  .about__card-container {
    @include remove-list-defaults;
    // The main card is positioned to the right.
    // We want it to be first for mobile.
    float: left;

    @include media($screen) {
      // The main card is positioned to the right.
      // We want it to be first for mobile.
      float: right;
      &.about__card-container--half { margin-top: ($about-card-size / 2); }
      &.about__card-container--full { margin-top: $about-card-size; }
    }
  }

  /**
   * This is an LI element
   */
  .about__card {
    position: relative;
    float: left;
    padding: $about-card-padding;
    width: $about-card-size;
    height: $about-card-size;
    overflow: hidden;
    background: $about-card-bg; // Random value atm

    @include media($screen) { float: none; }

    // Hide for screen
    &.about__card--screen {
      display: block;
      @include media($screen) { display: block; }
    }

    &.about__card--main { background: $brand-success; }
    &.about__card--sub { background: $brand-primary; }
    &.about__card--gray { background: $gray; }
    &.about__card--lighter { background: $gray--light; }
  }

  // heading (title)
  .about__card__heading {
    @extend h1;
    margin-top: 0;
    color: #fff;
    text-align: center;
  }

  // date
  .about__card__info {
    position: absolute;
    //  Center, to bottom.
    left: $about-card-padding;
    bottom: $about-card-padding;
    margin-right: $about-card-padding;
    // ------
    text-align: center;
    font-size: $font-size-h4;
    letter-spacing: 1px;
    color: #fff;
  }
}
