$about-card-bg: #252424;
$about-card-size: 300px;
$about-card-count: 5;
$about-card-padding: 20px;
$about-card-column-count: 3;
$about-container-padding: (($screen-md-min - ($about-card-size * $about-card-column-count)) / 2);

/**
 * I. about
 * II. about__container
 * III. about__container__inner
 * IV. about__card-container
 * V. about__card
 * VI. about__card__info
 */
.about {
  /**
   * Creates a scrollable container
   */
  .about__container {
    @include g-container;
    padding: 0;
    width: 100%;
    height: $about-card-size;
    overflow-x: scroll;
    overflow-y: hidden;

    @include media($screen) {
      overflow-x: auto;
      height: auto;
      // Unfortunately, I can't think of a good non-hackish way to center
      // the children elements (which are `ul` elements)
      // inside this container element (this class), so we will have to manually
      // compute to center the content.
      //
      // Since 420px is the minimum screen size we handle, and
      // the size of each card is 300-square, we can manually compute the padding
      // to center each column (each `ul` element) inside the container restrictions.
      padding-left: $about-container-padding;
      padding-right: $about-container-padding;
    }
  }
  /**
   * Creates a long scrollable content, container for the cards
   */
  .about__container > .about__container__inner {
    @include clearfix;
    height: $about-card-size;
    width: ($about-card-size * $about-card-padding);

    @include media($tablet) {
      width: 100%;
      height: auto;
    }
  }

  /**
   * Container / column for a set of cards
   * This is a UL element
   */
  .about__card-container {
    @include remove-list-defaults;
    float: left;

    @include media($screen) {
      &.about__card-container--half { margin-top: ($about-card-size / 2); }
      &.about__card-container--full { margin-top: $about-card-size; }
    }
  }

  /**
   * This is an LI element
   */
  .about__card {
    position: relative;
    float: left;
    width: $about-card-size;
    height: $about-card-size;
    background: $about-card-bg; // Random value atm

    @include media($screen) { float: none; }
  }

  /*
   * Card information
   */
  .about__card > .about__card__info {
    position: absolute;
    left: $about-card-padding;
    bottom: $about-card-padding;
    padding: $about-card-padding;
    width: ($about-card-size - ($about-card-padding * 2));
    background: rgba(0,0,0,0.5);
    text-align: center;

    @include media($tablet) {
      bottom: inherit;
      background: transparent;
      z-index: $about-card-info-z;
    }

    // heading (title)
    & > .about__card__info__heading {
      @extend h4;
      margin-top: 0;
      color: #fff;
    }

    // date
    & > .about__card__info__date {
      @extend h6;
      margin-bottom: 0;
      font-family: $font-family-base;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #fff;
    }
  }
}
