$about-card-size: 300px;
$about-card-count: 10;
$about-card-padding: 20px;

.about {
  min-height: 100vh;
  width: 100%;

  // Makes it scrollable
  .about__container {
    @include g-container;
    padding: 0;
    width: 100%;
    height: $about-card-size;
    overflow-x: scroll;
    overflow-y: hidden;

    @include media($tablet) {
      overflow-x: auto;
      overflow-y: auto;
      height: auto;
      width: 768px
    }
  }

  // Contains the float, and lines each horizontally
  .about__container > .about__container__inner {
    @include clearfix;
    width: $about-card-count * $about-card-size;
    height: $about-card-size;

    @include media($tablet) {
      width: 100%;
      height: auto;
    }
  }

  .about__card-container {
    @include remove-list-defaults;
    float: left;

    @include media($tablet) {
      &.about__card-container--half { margin-top: ($about-card-size / 2); }
      &.about__card-container--full { margin-top: $about-card-size; }
    }
  }

  .about__card {
    position: relative;
    float: left;
    width: $about-card-size;
    height: $about-card-size;
    background: #ddd; // Random value atm

    @include media($tablet) {
      float: none;
    }
  }

  .about__card .about__card__info {
    position: absolute;
    left: $about-card-padding;
    bottom: $about-card-padding;
    padding: $about-card-padding;
    width: ($about-card-size - ($about-card-padding * 2));
    background: rgba(0,0,0,0.5);
  }

  .about__card__info > .about__card__info__heading {
    @extend h4;
    margin-top: 0;
    color: #fff;
  }

  .about__card__info > .about__card__info__date {
    @extend h6;
    margin-bottom: 0;
    font-family: $font-family-base;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
  }
}
