$work-card-bg: #252424;
$work-card-size: 300px;
$work-card-count: 10;
$work-card-padding: 20px;
$work-card-column-count: 3;
// z-index for screens
$work-card-info-z: 0;
$work-card-thumbnail-z: 1;
$work-card-tint-z: 2;
// tint & thumbnail tint
$work-card-thumbnail-transition: left 0.1s cubic-bezier(0, 0, 0.4, 1);
// varying tints
$work-card-tint-orange: linear-gradient(90deg, #F26805, #FFC200); // orange
$work-card-tint-purple: linear-gradient(90deg, #BF05F2, #FF009B); // purple
$work-card-tint-blue: linear-gradient(90deg, #05BCF2, #00FFEC); // blue
// L&R padding for the container. Used to center the content manually
$work-container-padding: (($screen-md-min - ($work-card-size * $work-card-column-count)) / 2);

.work {
  width: 100%;
  padding-top: $handle-padding;
  padding-bottom: $handle-padding;

  /**
   * The button below the list linking to the FB Page's Albums.
   */
  // Centers the button
  .work__more-btn-container { text-align: center; }
  // The actual element
  .work__more-btn {
    display: none;
    @include btn(true);
    @include btn--variant(success, true);
    margin-top: $handle-padding;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: $font-size-small;

    @include media($screen) { display: inline-block; }
  }

  // The scrolling container.
  // Makes it scrollable.
  .work__container {
    @include g-container;
    padding: 0;
    width: 100%;
    height: $work-card-size;
    overflow-x: scroll;
    overflow-y: hidden;

    @include media($screen) {
      overflow-x: auto;
      height: auto;
      // Unfortunately, I can't think of a good non-hackish way to center
      // the children elements (which are `ul` elements)
      // inside this container element (this class), so we will have to manually
      // compute to center the content.
      //
      // Since 420px is the minimum screen size we handle, and
      // the size of each card is 300-square, we can manually compute the padding
      // to center each column (each `ul` element) inside the container restrictions.
      padding-left: $work-container-padding;
      padding-right: $work-container-padding;
    }
  }

  // Contains the float, and lines each horizontally
  .work__container > .work__container__inner {
    @include clearfix;
    width: $work-card-count * $work-card-size;
    height: $work-card-size;

    @include media($screen) {
      width: 100%;
      height: auto;
    }
  }

  // This is a `ul`
  .work__card-container {
    @include remove-list-defaults;
    float: left;

    @include media($screen) {
      &.work__card-container--half { margin-top: ($work-card-size / 2); }
      &.work__card-container--full { margin-top: $work-card-size; }
    }
  }

  // This is an `li`
  .work__card {
    // The hides the card thumbnail when it slides to the left on hover (for screens).
    overflow: hidden;
    position: relative;
    float: left;
    width: $work-card-size;
    height: $work-card-size;
    background: $work-card-bg; // Random value atm

    @include media($screen) { float: none; }
  }

  /**
   * Card thumbnails
   */
  .work__card > .work__card__thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: $work-card-size;
    height: $work-card-size;
    transition: left 0.1s cubic-bezier(0, 0, 0.4, 1);

    @include media($screen) { z-index: $work-card-thumbnail-z; }
  }
  // slide to left effect
  .work__card:hover > .work__card__thumbnail {
    @include media($screen) {
      // The amount to slide to the left when the thumb is hovered
      left: -($work-card-size - $work-card-padding);
    }
  }

  /*
   * Card thumbnail tints (gradient tints over the thumbnail)
   */
  .work__card::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: $work-card-size;
    width: $work-card-size;
    opacity: 0;

    @include media($screen) {
      z-index: $work-card-tint-z !important;
      opacity: 0.6;
    }
  }
  // Slide to left
  // A hover the the containing element
  .work__card:hover::before {
    @include media($screen) {
      // The amount to slide to the left when the thumb is hovered
      left: -($work-card-size - $work-card-padding);
    }
  }
  // staircase-pattern color
  // blue
  .work__card-container:nth-child(0n + 1) > .work__card:nth-child(0n + 1)::before, // 1r 1c
  .work__card-container:nth-child(0n + 2) > .work__card:nth-child(0n + 3)::before, // 2c 3r
  .work__card-container:nth-child(0n + 3) > .work__card:nth-child(0n + 1)::before { background: $work-card-tint-blue !important; } // 3c 2r
  // purple
  .work__card-container:nth-child(0n + 1) > .work__card:nth-child(0n + 3)::before, // 1c 3r
  .work__card-container:nth-child(0n + 2) > .work__card:nth-child(0n + 2)::before, // 2c 2r
  .work__card-container:nth-child(0n + 3) > .work__card:nth-child(0n + 3)::before { background: $work-card-tint-purple !important; } // 3r 3r
  // orange
  .work__card-container:nth-child(0n + 1) > .work__card:nth-child(0n + 2)::before, // 1c 2r
  .work__card-container:nth-child(0n + 2) > .work__card:nth-child(0n + 4)::before, // 1c 4r
  .work__card-container:nth-child(0n + 3) > .work__card:nth-child(0n + 2)::before, //  3c 2r
  .work__card-container:nth-child(0n + 2) > .work__card:nth-child(0n + 1)::before { background: $work-card-tint-orange !important; } // 2c 1r

  /*
   * Card information
   */
  .work__card > .work__card__info {
    position: absolute;
    left: $work-card-padding;
    bottom: $work-card-padding;
    padding: $work-card-padding;
    width: ($work-card-size - ($work-card-padding * 2));
    background: rgba(0,0,0,0.5);
    text-align: center;

    @include media($screen) {
      bottom: inherit;
      background: transparent;
      z-index: $work-card-info-z;
    }

    // heading (title)
    & > .work__card__info__heading {
      @extend h4;
      margin-top: 0;
      color: #fff;
    }

    // date
    & > .work__card__info__date {
      @extend h6;
      margin-bottom: 0;
      font-family: $font-family-base;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #fff;
    }

    // see more btn
    // @screen screen
    & > .work__card__info__more-btn {
      margin-top: 20px;
      @include btn(true);
      @include btn--variant(default, true);
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: $font-size-small;
    }
  }
}
