.g-container {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
  @include outer-container(100%);

  @include media($screen-sm-min) {
    width: $screen-sm-min;
    padding-left: 0;
    padding-right: 0;
  }
  @include media($screen-md-min) { width: $screen-md-min; }
}
