.g-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: $grid-gutter-width;
  width: 100%;
  @include u-clearfix();

  @media (min-width: $screen-sm-min) { width: $screen-sm-min; }
}

.g-row {
  margin-left:  ceil($grid-gutter-width / -2);
  margin-right: floor($grid-gutter-width / -2);
  @include u-clearfix();
}
