$nav-height: 50px;
$nav-bg-color: $brand-default;
$nav-padding-vertical: (($nav-height - $line-height-computed) / 2);
$nav-padding-horizontal: ($grid-gutter-width / 2);

// Needs refactoring. Styling should be placed in a modifier class
.nav {
  z-index: $z-index-navigation;
  position: relative;
  height: $nav-height;
  width: 100%;
  background: $nav-bg-color;
  overflow: hidden;
  text-align: center;
  @include clearfix();

  // [M] Sticky navbar
  &.nav--sticky {
    position: fixed;
    top: 0;
  }

  // [M] Static bottom
  &.nav--static-bottom {
    position: absolute;
    bottom: 0;
  }

  .nav__container {
    @include g-container();
  }

  /*
   * .nav__navbar
   */
  // [B] ul.nav__navbar
  .nav__navbar {
    display: inline-block;
    margin: 0 auto;
    padding-left: 0;
    width: 100%;
  }

  /*
   * nav__navbar li
   */
  .nav__navbar > li {
    float: left;
    list-style: none;
  }

  .nav__navbar > li > a {
    display: block;
    padding: $nav-padding-vertical $nav-padding-horizontal;
    line-height: $line-height-computed;
    color: $gray;
    transition: all $transition-base-short;
  }

  .nav__navbar > li > a:hover { text-decoration: none; }

  .nav__navbar > li > a:hover,
  .nav__navbar > li > a.nav__navbar__link--active {
    color: #fff;
    background-color: $gray--light;
  }
}
