$service-item-color: #fff;

.services {
  padding-top: $handle-padding;
  padding-bottom: $handle-padding;
  background: #ddd;

  .services__container { @include g-container(); }
  .services__heading { }
  .services__list { @include row(); }

  .services__item-container {
    margin-bottom: $handle-padding;
    @include span-columns(12);
    @include media($tablet) { @include span-columns(4); }
    &:last-child { margin-bottom: 0; }
  }

  .services__item {
    position: relative;
    // Proportional height-width
    // https://github.com/srph/til/blob/master/2015-03-13-padding-in-percent-is-based-on-its-parent-elements-width.md
    padding-top: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    color: $service-item-color;
    transition: all $transition-base;

    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
      background-size: 120% 120%;
    }
  }

  // Since we are using padding-top to set the height of the containing element
  // We'll use this to position this absolutely, relative to the container.
  // This makes everything normal again.
  .services__item .services__item__placer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  // Vertically center
  .services__item .services__item__outer {
    display: table;
    height: 100%;
    width: 100%;
  }
  .services__item .services__item__inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .services__item .services__item__heading { }
  .services__item .services__item__description { }
}
