$service-item-color: #fff;

.services {
  padding-top: $handle-padding;
  padding-bottom: $handle-padding;
  background: #ddd;

  .services__container { @include g-container(); }

  .services__heading {
    position: relative;
    margin-bottom: ($handle-padding / 2);
    padding-bottom: ($handle-padding / 2);
    text-align: center;

    > .services__heading__title { @extend .h1; }
    > .services__heading__description { @extend .h4; }
    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      // <!-- Center
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      // Center -->
      height: 3px;
      width: 25px;
      background: red;
    }
  }

  // Contain each `services__item`
  .services__list { @include row(); }

  .services__item-container {
    margin-bottom: $handle-padding;
    @include span-columns(12);
    &:last-child { margin-bottom: 0; }

    @include media($tablet) {
      @include span-columns(4);
      &:nth-child(3n) { margin-right: 0; }
    }
  }

  .services__item {
    position: relative;
    // Proportional height-width
    // https://github.com/srph/til/blob/master/2015-03-13-padding-in-percent-is-based-on-its-parent-elements-width.md
    padding-top: 100%;
    width: 100%;
    background-color: #000;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    color: $service-item-color;
    transition: all $transition-base;

    // Enlarge image (transition)
    &:hover { background-size: 120% 120%; }

    // Add a lightly visible dark bg.
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: #000;

      opacity: 0.2;
      transition: opacity $transition-base;
    }
    &:hover::before { opacity: 0.8; }
  }

  // Since we are using padding-top to set the height of the containing element
  // We'll use this to position this absolutely, relative to the container.
  // This makes everything normal again.
  .services__item .services__item__placer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  // Vertically center
  .services__item .services__item__outer {
    display: table;
    height: 100%;
    width: 100%;
  }
  .services__item .services__item__inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .services__item .services__item__heading { @extend .h1; }
  .services__item .services__item__description { }
}
