.home {
  position: relative;
  overflow: hidden;
  padding-bottom: $nav-height;
  height: 100vh;
  width: 100%;
  color: #fff;
  background: #000;

  .home__outer {
    display: table;
    height: 100%;
    width: 100%;
  }

  .home__outer > .home__inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .home__container { @include g-container(); }

  .home__logo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }

  .home__service-btn {
    @include btn(true, ".home__service-btn__caret");
    @include btn--variant(primary, true, true);
    @include btn--size(lg);
    @include btn--roundness(round)
  }

  .home__contact-btn {
    @include btn();
    @include btn--variant(default);
    @include btn--size(lg);
    @include btn--roundness(round);
    margin-right: 10px;
  }
}
