.home {
  position: relative;
  overflow: hidden;
  padding-bottom: $nav-height;
  height: 100vh;
  width: 100%;
  color: #fff;
  background: #000;
  background-image: url(#{$img-dir}/jumbotron-bg.webp);
  background-image: linear-gradient(180 deg, rgba(0,0,0,0.3), rgba(0,0,0,0.6)) url(#{$img-dir}/jumbotron-bg.webp);
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;

  .home__outer {
    display: table;
    height: 100%;
    width: 100%;
  }

  .home__outer > .home__inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .home__container { @include g-container(); }

  .home__heading {
    @extend .h1;
    margin-bottom: 25px;
  }

  .home__service-btn {
    @include btn(true, ".home__service-btn__caret", true);
    @include btn--variant(primary, true, true);
    @include btn--size(lg);
    @include btn--roundness(round)
  }

  .home__contact-btn {
    @include btn();
    @include btn--variant(default);
    @include btn--size(lg);
    @include btn--roundness(round);
    margin-right: 10px;
  }
}
