$contact-bg: $gray--darker;
$contact-map-height: 400px;
$contact-map-width: 70%;
$contact-info-width: 30%;
$contact-info-padding: 12.5px;

/**
 * I. contact
 * II. contact__row
 * III. contact__map
 * IV. contact__map__element
 * V. contact__info
 */
.contact {
  background: $contact-bg;

  .contact__row {
    @include row;
    width: 100%;
  }

  /**
   * We're not using our grid column mixins since we need something simpler
   * row (the parent) + this column (float, width) + the other column(float, width)
   */
  .contact__map {
    overflow: hidden;
    float: left;
    height: $contact-map-height;
    width: 100%;

    @include media($screen) { width: $contact-map-width; }
  }

  .contact__map > .contact__map__element {
    height: $contact-map-height;
    width: 100%;
    border: 0; // iframe border
  }

  /**
   * We're not using our grid column mixins since we need something simpler
   * row (the parent) + this column (float, width) + the other column(float, width)
   */
  .contact__info {
    float: left;
    height: $contact-map-height;
    width: 100%;
    padding: $contact-info-padding;
    color: #fff;

    @include media($screen) {
      width: $contact-info-width;
      padding: ($contact-info-padding * 2);
    }

    & > .contact__info__heading {
      @extend .h4;
      text-align: center;
    }

    & .contact__info__content__heading {
      @extend .h5;
      margin: 0; // Remove typo defaults
    }

    & .contact__info__content { margin-bottom: ($contact-info-padding * 2); }

    & .contact__info__highlight {
      border-bottom: 1px dashed $gray--light;
    }

    & .contact__info__email-btn {
      @include btn(true);
      @include btn--variant(success, true);
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: $font-size-small;
    }
  }
}
